<!-- Modified by Yu-Hsuan Yen -->
<!-- Post Header -->
<style type="text/css">
    header.intro-header{
        <% if (is_home()) { %>
            background-image: url('<%= config.root + config["header-img"] %>') 
            /*config*/
        <%} else if (is_post() && page["header-img"]){%>
            background-image: url('<%= page["header-img"] %>')
            /*post*/
        <%} else {%>
            background-image: url('<%= config.root + page["header-img"] %>')
            /*page*/
        <%} %>
    }
     header.intro-header .site-heading,
     header.intro-header .post-heading {
          <% if (is_home() && theme['index-title-color']) { %>
            color: <%= theme['index-title-color'] %>;
        <%} else if(page['title-color']) {%>
            color: <%= page['title-color'] %>;
            <%} %>
    }
    <% if (config.signature) {%>
    #signature{
        background-image: url('<%= config.root + config["signature-img"] %>');
    }
    <%}%>
</style>
<header class="intro-header <%= is_post() && !page['header-img'] ? 'intro-header--no-img' : ''%>" >
    <!-- Signature -->
    <div id="signature">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <% if (is_post()) { %>
                    <div class="post-heading">
                        <% page.categories.forEach(function(category){ %>
                            <a class="category-link" href="<%= config.root %>categories/#<%= category.name %>" title="<%= category.name %>"><%= category.name %></a>
                        <% }) %>
                        <h1><%= page.title %></h1>
                        <h2 class="subheading"><%= page.subtitle || "" %></h2>
                        <p class="meta">
                            <span><%= page.date.format(config.date_format) %></span>
                            <span><%- page.author || config.author %></span>                            
                        </p>
                    </div>
                <% } else { %>
                    <div class="site-heading <%= is_home() ? 'home' : ''%>">
                        <h1><%= (is_home() && theme['index-title'] ? theme['index-title'] : page.title) || config.title %></h1>
                        <!--<hr class="small">-->
                        <span class="subheading"><%= page.description || config.subtitle || "" %></span>
                    </div>
                <% } %>


                </div>
            </div>
        </div>
    </div>
</header>
