<!-- Short About -->
<section class="visible-md visible-lg">
    <h5><a href="<%= config.root %>about/">ABOUT ME</a></h5>
    <div class="short-about">

        <% if(config['sidebar-avatar']) { %>
        <img id="avatar_pic" src="<%= config['root'] %><%= config['sidebar-avatar'] %>" />
        <% } %>
        <% if(config['sidebar-about-title']) { %>
        <p class="title"><%= config['sidebar-about-title'] %></p>
        <% }%>
        <% if(config['sidebar-about-description']) { %>
        <p class="desc"><%= config['sidebar-about-description'] %></p>
        <% }%>

        <!-- SNS Link -->
        <ul class="list-inline">
            <li>
                <a href="<%= config.root %>archive">
                    <h2> <%= site.posts.length%> </h2>
                    <h5>POSTS</h5>
                </a>
            </li>
            <li>
                <a href="<%= config.root %>categories">
                    <h2> <%= site.categories.length%> </h2>
                    <h5>CATEGORIES</h5>
                </a>
            </li>
            <li>
                <a href="<%= config.root %>tags">
                    <h2> <%= site.tags.length%> </h2>
                    <h5>TAGS</h5>
                </a>
            </li>
        </ul>
    </div>
</section>